Table	Create Table
class_master	CREATE TABLE `class_master` (\n  `id` int NOT NULL AUTO_INCREMENT,\n  `class_name` varchar(255) NOT NULL,\n  `admin_id` bigint DEFAULT NULL,\n  `department_id` int DEFAULT NULL,\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `UKm5o73hhvqp043jhuonfh8tci5` (`admin_id`,`department_id`,`class_name`),\n  KEY `FK71c0ma9qwrooiydunjpkpo0vf` (`department_id`),\n  CONSTRAINT `FK71c0ma9qwrooiydunjpkpo0vf` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),\n  CONSTRAINT `FKgtv0f3wmq26uh7vepywsqe62q` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`)\n) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
